---
page_title: Fishoak - Fishing and Hiking Adventures
title: <span class="fishoak">Fishoak</span> - Fishing and Hiking Adventures
layout: main
---
<div class="content" style="margin-top: 80px;">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <div class="card-header">
        <h1>Fishing and hiking spots</h1>
    </div>
    <hr>
    <div class="card-header">
        <h2>Bay Area</h2>
    </div>
    <div class="tags">
        {% for loc in site.ba %}
        <a href="{{loc.url}}" class="invis">
            <div class="tn">
                <img src="assets/images/{{loc.image}}" />
                <h2>{{loc.title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- <hr> -->
    <div class="card-header spt">
        <h2>The Sierras</h2>
    </div>
    <div class="tags">
        {% for loc in site.sierra %}
        <a href="{{loc.url}}" class="invis">
            <div class="tn">
                <img src="assets/images/{{loc.image}}" />
                <h2>{{loc.title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- <hr> -->
    <div class="card-header spt">
        <h2>Seattle</h2>
    </div>
    <div class="tags">
        {% for loc in site.seattle %}
        <a href="{{loc.url}}" class="invis">
            <div class="tn">
                <img src="assets/images/{{loc.image}}" />
                <h2>{{loc.title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- <hr> -->
    <div class="card-header spt">
        <h2>Pittsburgh</h2>
    </div>
    <div class="tags">
        {% for loc in site.pgh %}
        <a href="{{loc.url}}" class="invis">
            <div class="tn">
                <img src="assets/images/{{loc.image}}" />
                <h2>{{loc.title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>

    <br>
    <br>
    <div class="card-header">
        <h1>Species guides</h1>
    </div>
    <div class="tags">
        {% for fish in site.fish %}
        <a href="{{fish.url}}" class="invis">
            <div class="tn">
                <img src="assets/images/{{fish.image}}" />
                <h2>{{fish.short_title}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- <div class="card-header">
        <h1>Travel</h1>
    </div>
    {% for travel in site.travel %}
    <a href="{{travel.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{travel.image}}" />
            <h2>{{travel.short_title}}</h2>
        </div>
    </a>
    {% endfor %} -->

    </div>
</div>
{% include nav.html %}