---
page_title: Fishoak - Bay Area Fishing
title: <span class="fishoak">Fishoak</span> - Bay Area Fishing
layout: main
---
<div class="content" style="margin-top: 80px;">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <div class="card-header">
        <h1>Fishing Spots</h1>
    </div>
    <hr>
    <div class="card-header">
        <h2>Bay Area</h2>
    </div>
    {% for loc in site.ba %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    <hr>
    <div class="card-header">
        <h2>The Sierras</h2>
    </div>
    {% for loc in site.sierra %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    <hr>
    <div class="card-header">
        <h2>Seattle</h2>
    </div>
    {% for loc in site.seattle %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    <hr>
    <div class="card-header">
        <h2>Pittsburgh</h2>
    </div>
    {% for loc in site.pgh %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    <br>
    <br>
    <div class="card-header">
        <h1>Species guides</h1>
    </div>
    {% for fish in site.fish %}
    <a href="{{fish.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{fish.image}}" />
            <h2>{{fish.short_title}}</h2>
        </div>
    </a>
    {% endfor %}

    <!-- <div class="card-header">
        <h1>Travel</h1>
    </div>
    {% for travel in site.travel %}
    <a href="{{travel.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{travel.image}}" />
            <h2>{{travel.short_title}}</h2>
        </div>
    </a>
    {% endfor %} -->

    </div>
</div>
{% include nav.html %}