---
page_title: Fishoak - Bay Area Fishing
title: <span class="fishoak">Fishoak</span> - Bay Area Fishing
layout: main
---
<div class="content" style="margin-top: 80px;">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <div class="card-header">
        <h1>Fishing spots</h2>
    </div>
    {% for loc in site.locs %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    {% for loc in site.far %}
    <a href="{{loc.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{loc.image}}" />
            <h2>{{loc.title}}</h2>
        </div>
    </a>
    {% endfor %}

    <div class="card-header">
        <h1>Species guides</h1>
    </div>
    {% for fish in site.fish %}
    <a href="{{fish.url}}" class="invis">
        <div class="tn">
            <img src="assets/images/{{fish.image}}" />
            <h2>{{fish.short_title}}</h2>
        </div>
    </a>
    {% endfor %}

    </div>
</div>
{% include nav.html %}