---
page_title: Fishoak - Bay Area Fishing
title: <span class="fishoak">Fishoak</span> - Bay Area Fishing
image: shark.webp
layout: home
---
<link rel="stylesheet" type="text/css" href="assets/css/home.css">
<div class="card-header">
    <h1>Fishing spots</h2>
</div>
{% for loc in site.locs %}
<a href="{{loc.url}}" class="invis">
    <div class="tn">
        <img src="assets/images/{{loc.image}}" />
        <h2>{{loc.title}}</h2>
    </div>
</a>
{% endfor %}

<!-- <div class="card-header">
    <h2>A Weekend Fishing Adventure</h2>
    Just a few hours drive away, the rivers of the Sierras, the forests of Northern California, and the Central California coast boast world-class fishing! Be sure to check out the following spots:
</div> -->
{% for loc in site.far %}
<a href="{{loc.url}}" class="invis">
    <div class="tn">
        <img src="assets/images/{{loc.image}}" />
        <h2>{{loc.title}}</h2>
    </div>
</a>
{% endfor %}

<div class="card-header">
    <h1>Species guides</h1>
</div>
{% for fish in site.fish %}
<a href="{{fish.url}}" class="invis">
    <div class="tn">
        <img src="assets/images/{{fish.image}}" />
        <h2>{{fish.short_title}}</h2>
    </div>
</a>
{% endfor %}
<!-- <div class="card-header">
    <h1>Other</h1>
</div>
{% for other in site.other %}
<a href="{{other.url}}" class="invis" target="_blank">
    <div class="tn">
        <img src="assets/images/{{other.image}}" />
        <h2>{{other.short_title}}</h2>
    </div>
</a>
{% endfor %} -->

</div>