---
page_title: Fishoak - Bay Area Fish Plants
title: <span class="fishoak">Fishoak</span> - Fish Plants
layout: main
---
<div class="content" style="margin-top: 80px;">
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
    <div class="card-header">
        <h1>Bay Area Fish Plants</h1>
    </div>
    <hr>
    <p>A list of recent and future Bay Area fish plants. Currently pulls trout stocking data only from <a href="https://nrm.dfg.ca.gov/fishplants/publicplantsearch?Params.Regions=R3&Params.Counties=1&Params.Counties=7&Params.Counties=21&Params.Counties=28&Params.Counties=34&Params.Counties=38&Params.Counties=39&Params.Counties=41&Params.Counties=43&Params.Counties=44&Params.Counties=48&Params.Counties=49&Params.Counties=57&RegionCountyMappings=&Params.PlantTimeFrame=2&submit=Search">the DFG</a>, <a href="https://www.ebparks.org/recreation/fishing/anglers-edge-online">EBRPD</a> and <a href="https://www.ccwater.com/149/Fishing">Los Vaqueros Reservoir</a>. Note that this is not a comprehensive list, as some other lakes stock fish without online updates (some Santa Clara County lakes, Lafayette Reservoir). I will update this site for catfish stocks as the summer gets closer. If you notice any problems or have suggestions for other sources, please email them to info@fishoak.com.</p>

    <p>This table should be updated once a day. Keeps history of the last month of plants. See my <a href="/trout">Bay Area trout guide</a> if you need fishing tips.</p>

    <table>
        <thead><tr><td>Date</td><td>Location</td><td>Quantity</td><td>Source</td></tr></thead>
        <tbody>
        {% assign now_timestamp = "now" | date: "%s" %}
        {% assign now_week_timestamp = now_timestamp | date: "%Y-%m-%d" | round_to_sunday | date: "%s" %}
        {% assign now_week_timestamp_end = now_week_timestamp | plus: 604800 | date: "%s" %}
        {% assign prev_week_timestamp = now_week_timestamp | minus: 604800 | date: "%s" %}


        {% assign displayed_this_week = false %}
        {% assign displayed_last_week = false %}
        {% assign displayed_old = false %}
        {% for stock_entry in site.data.stocking %}
            {% assign stock_date_split = stock_entry[0] | split: "/" %}
            {% capture stock_date_time %}
                {{stock_date_split[1]}}/{{stock_date_split[0]}}/{{stock_date_split[2]}}
            {% endcapture %}
            {% assign full_date_split = stock_entry[0] | split: "-" %}
            {% if full_date_split.size > 1 %}
                {% assign stock_end_split = full_date_split[1] | split: "/" %}
                {% capture stock_end_time %}
                    {{stock_end_split[1]}}/{{stock_end_split[0]}}/{{stock_end_split[2]}}
                {% endcapture %}
            {% else %}
                {% assign stock_end_time = stock_date_time %}
            {% endif %}

            {% assign stock_date_timestamp = stock_date_time | date: "%s" %}
            {% assign stock_end_timestamp = stock_end_time | date: "%s" %}
            {% if displayed_this_week == false and stock_date_timestamp < now_week_timestamp_end %}
                <tr>
                    <td colspan="4" class="now">This week</td>
                </tr>
                {% assign displayed_this_week = true %}
            {% endif %}
            {% if displayed_last_week == false and stock_date_timestamp < now_week_timestamp %}
                <tr>
                    <td colspan="4" class="last">Last week</td>
                </tr>
                {% assign displayed_last_week = true %}
            {% endif %}
            {% if displayed_old == false and stock_end_timestamp < prev_week_timestamp %}
                <tr>
                    <td colspan="4" class="old">More than one week ago</td>
                </tr>
                {% assign displayed_old = true %}
            {% endif %}
            <tr>
                <!-- Date -->
                <td>{{stock_entry[0]}}</td> 
                
                <!-- Name/url -->
                {% assign test_url = stock_entry[1] | prepend: "/" %}
                {% assign location_page = site.ba | where: 'url', test_url | first %}
                {% if location_page.url %}
                <td><a href="{{location_page.url}}">{{location_page.title}}</a></td>
                {% else %}
                <td>{{stock_entry[1]}}</td>
                {% endif %}

                <!-- Lbs -->
                {% if stock_entry[2] >= 0 %}
                <td>{{stock_entry[2]}} lbs</td> 
                {% else %}
                <td></td> 
                {% endif %}
                <!-- Source -->
                <td>{{stock_entry[3]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include _ads/article.html %}
</div>
{% include nav.html %}