<h3>For the bass:</h3>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3rfxJqp" target="_blank">
            {% include amazon.html id="B0007T0WN4" %}
        </a>
    </div>
    <div>
        <h4>Yamamoto Senko</h4>
        <div>A must-have soft plastic for bassing on the West Coast. I usually fish these wacky-rigged - basically just
            sticking the point through the thickest part of the worm without any weight. Cast it out and repeatedly jig
            it, letting the Senko flutter back to the bottom. It seems to work quite well on the heavily pressured lakes
            in the Bay Area. Green pumpkin is traditionally considered the best color.</div>
        <a href="https://amzn.to/3rfxJqp" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>


<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/2YAo01e" target="_blank">
            {% include amazon.html id="B001604YB4" %}</a>
    </div>
    <div>
        <h4>Strike King Spinnerbait</h4>
        <div>Spinnerbaits are my favorite lures for covering water when bass fishing, as not only do they provide a lot
            of action and noise, but they also are relatively weedless compared to other hard baits. Honestly the brand
            doesn't matter too much here - I've linked the brand-name Strike King lure here. Like other lures,
            stop-and-go retrieves are the way to go.</div>
        <a href="https://amzn.to/2YAo01e" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3th9SYS" target="_blank">
            {% include amazon.html id="B003ZZI5OU" %}</a>
    </div>
    <div>
        <h4>Hula Popper</h4>
        <div>Poppers are my favorite topwater baits - there's just something so appealing about the way they chug and
            spit water on the surface, and the way bass attack them so aggressively and visibly. Brand doesn't matter
            too much here again - I linked the classic Hula Popper. Keep your rod tip low to the water, and repeatedly
            jerk the lure. You can also "walk-the-dog" on good poppers by repeatedly wiggling the lure in a particular
            direction, once again with your rod tip close to the water. Your popper will start darting side-to-side,
            creating action that no bass can resist.</div>
        <a href="https://amzn.to/3th9SYS" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>