For the crab:
<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/403zg6U" target="_blank">
            {% include amazon.html id="B0CQWQNPPY" %}
        </a>
    </div>
    <div>
        <h4>Crab Snare</h4>
        <div>Your basic setup for catching crab. Fill the cage with some kind of bait - squid, chicken, or fish usually
            do well. Cast out, and reel in every 10 minutes or so - if there's a crab nibbling on the bait, the loops of
            the snare will catch on the crab. I like doing a slow smooth "hookset" to engage the snare loops. While
            you're reeling in, try and maintain pressure on the snare, to make sure a crab doesn't get loose! I've
            linked a nice, but somewhat expensive crab snare here; a cheaper option is <a
                href="https://amzn.to/2XmfMfY">here</a>, but it doesn't really work as well in practice.</div>
        <a href="https://amzn.to/403zg6U" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>