My baits of choice (fish on a high-low rig):
<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/49rhfEe" target="_blank">
            {% include amazon.html id="B07ZS3QJ32" %}
        </a>
    </div>
    <div>
        <h4>Raw shrimp</h4>
        <div>The jack-of-all-trades bait for our local saltwater fish. Works for rockfish, cabezon, lingcod, surfperch, jacksmelt, croaker, and many more. It can be a bit hard to keep on your hook --- switching to cooked from raw shrimp can help with that problem, with IMO slightly decreased bite rate. </div>
        <a href="https://amzn.to/49rhfEe" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3YHyn2r" target="_blank">
            {% include amazon.html id="B07813TCMY" %}
        </a>
    </div>
    <div>
        <h4>Squid</h4>
        <div>The other big saltwater bait. Works very well for rockfish, cabezon, lingcod, mackerel, crab and more. It stays on the hook better than the shrimp. Cut the tubes into strips.</div>
        <a href="https://amzn.to/3YHyn2r" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3vMUJ4t" target="_blank">
            {% include amazon.html id="B001H0G2H2" %}
        </a>
    </div>
    <div>
        <h4>Berkley Gulp Sandworms</h4>
        <div>Dealing with squid or shrimp for bait can be a pain, with lugging around a cooler to keep it fresh, the
            bait falling off the hook, and potentially even running out. As a result, I like keeping a pack of these
            flavor-infused plastic sandworms in my tackle box just in case. They seem to work ok for rockfish, although
            not as good as the fresh stuff. These worms are also one of the best baits for catching surfperch off
            beaches on the West Coast.</div>
        <a href="https://amzn.to/3vMUJ4t" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>


When fishing a pier, it can be quite easy to get snagged on random things underwater, be it the pilings of the pier or underwater rocks. As a result, make sure to bring a lot of spare weights. I've listed the weights I use below, in order of preference.

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3j6FdsP" target="_blank">
            {% include amazon.html id="B08BS6DZWF" %}
        </a>
    </div>
    <div>
        <h4>Cloth Bags</h4>
        <div>I hate snagging off and leaving a hunk of metal at the bottom of the ocean. As a
            result, I recently switched to using cloth bags, which I fill with gravel and small rocks at the fishing
            spot and hopefully biodegrade in the water. I've found that these cloth bags work incredibly well. They snag
            much less frequently than the metal weights I used to use, and the fish don't seem to mind. In addition,
            they are much cheaper.</div>
        <a href="https://amzn.to/3j6FdsP" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3cuzE5Z" target="_blank">
            {% include amazon.html id="B0083GGZ2A" %}
        </a>
    </div>
    <div>
        <h4>Ultra Steel Bullet Weights, 3/4 ounce</h4>
        <div>I usually use steel weights whenever I can. While they tend to be somewhat more expensive than lead-based
            weights, they lack most of the <a href="https://en.wikipedia.org/wiki/Lead#Toxicity">toxicity and
                developmental impacts of lead</a>. In regards to your own health, you should use steel weights whenever
            possible. However, steel weights can be hard to find in larger sizes.</div>
        <a href="https://amzn.to/3cuzE5Z" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/39AS1od" target="_blank">
            {% include amazon.html id="B0000AUUZV" %}
        </a>
    </div>
    <div>
        <h4>Lead Sinkers, 2 ounces</h4>
        <div>These lead weights are much cheaper than steel, and come in much larger sizes. However, keep in mind the <a
                href="https://en.wikipedia.org/wiki/Lead#Toxicity">toxicity and developmental impacts of lead</a>. Use
            at your own risk.</div>
        <a href="https://amzn.to/39AS1od" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>