When fishing a pier, it can be quite easy to get snagged on random things underwater, be it the pilings of the pier or underwater rocks. As a result, make sure to bring a lot of spare weights. I've listed the weights I use below, in order of preference.

<div class="gear">
<div class="gearimg">
<a href="https://amzn.to/3j6FdsP" target="_blank">
<img border="0" src="/assets/images/questionmark.svg">
</a>
</div>
<div>
    <h4>Cloth Bags</h4>
    <div>Every time I snag off and leave a hunk of metal at the bottom of the ocean, I always feel kinda bad. As a result, I recently switched to using cloth bags, which I fill with gravel and small rocks at the fishing spot and hopefully biodegrade in the ocean. I've found that these cloth bags work incredibly well. They snag much less frequently than the metal weights I used to use, and the fish don't seem to mind. In addition, they are much cheaper.</div>
    <a href="https://amzn.to/3j6FdsP" class="buybutton" target="_blank">See on Amazon</a>
</div>
</div>

<div class="gear">
<div class="gearimg">
<a href="https://amzn.to/3cuzE5Z" target="_blank">
<img border="0" src="/assets/images/questionmark.svg">
</a>
</div>
<div>
    <h4>Ultra Steel Bullet Weights, 3/4 ounce</h4>
    <div>I usually use steel weights whenever I can. While they tend to be somewhat more expensive than lead-based weights, they lack most of the <a href="https://en.wikipedia.org/wiki/Lead#Toxicity">toxicity and developmental impacts of lead</a>. In regards to your own health, you should use steel weights whenever possible. However, steel weights can be hard to find in larger sizes.</div>
    <a href="https://amzn.to/3cuzE5Z" class="buybutton" target="_blank">See on Amazon</a>
</div>
</div>

<div class="gear">
<div class="gearimg">
<a href="https://amzn.to/39AS1od" target="_blank">
<img border="0" src="/assets/images/questionmark.svg">
</a>
</div>
<div>
    <h4>Lead Sinkers, 2 ounces</h4>
    <div>These lead weights are much cheaper than steel, and come in much larger sizes. However, keep in mind the <a href="https://en.wikipedia.org/wiki/Lead#Toxicity">toxicity and developmental impacts of lead</a>. Use at your own risk.</div>
    <a href="https://amzn.to/39AS1od" class="buybutton" target="_blank">See on Amazon</a>
</div>
</div>
    
    