<h3>For the trout:</h3>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3ag6G7m" target="_blank">
            {% include amazon.html id="B0000AUXS2" %}
        </a>
    </div>
    <div>
        <h4>Acme Kastmaster, 1/8 oz</h4>
        <div>One of my favorite lures for trout fishing, very useful for covering a lot of water and finding where the
            active fish are. It's a very aerodynamic lure that can be casted quite far on light line. I've had the most
            success on stop-and-go, erratic retrieves. Use gold Kastmasters on sunny days or in murky water. Use silver
            Kastmasters on cloudy days or clear water. Kastmasters can be somewhat expensive - South Bend also sells <a
                href="https://amzn.to/39CXJpH">Kastaways</a> which are somewhat cheaper but can't say I've personally
            used them.</div>
        <a href="https://amzn.to/3agKmui" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3pAlDHK" target="_blank">
            {% include amazon.html id="B0000AUUHN" %}
        </a>
    </div>
    <div>
        <h4>Panther Martin, 1/16 oz</h4>
        <div>A classic trout spinner. I like a retrieve with many erratic jerks with these spinners, to let the blade
            flutter as much as possible. Traditionally the gold blade with black body and yellow spots has been the most
            effective for me, but the other colors should also work.</div>
        <a href="https://amzn.to/3pAlDHK" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3aYUpEN" target="_blank">
            {% include amazon.html id="B00019ND8G" %}
        </a>
    </div>
    <div>
        <h4>Thomas Buoyant, 1/4 or 1/6 oz</h4>
        <div>A Kastmaster alternative. It casts a somewhat smaller distance, but the spoon has a slightly different
            fluttering action that seems to sometimes entice more hits.</div>
        <a href="https://amzn.to/3aYUpEN" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3pqIyHL" target="_blank">
            {% include amazon.html id="B009AVIIBS" %}
        </a>
    </div>
    <div>
        <h4>Mini jig, 1/16 or 1/32 oz</h4>
        <div>I don't use these as often in the backcountry as the casting distance is sometimes insufficient, but can be
            very effective
            if you can get them out far enough. A small tube that can be twitched in the water to entice wary trout.
            Keep your rod tip high, and wiggle the
            lure in the middle of the water column. Can be very effective, especially if you can see the fish. Use very
            light line (2 - 4 lb).</div>
        <a href="https://amzn.to/3pqIyHL" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>

<div class="gear">
    <div class="gearimg">
        <a href="https://amzn.to/3R2Iso3" target="_blank">
            {% include amazon.html id="B0842CQGZH" %}
        </a>
    </div>
    <div>
        <h4>Nymph collection</h4>
        <div>One of my favorite ways to target trout that sometimes seems to work a lot better than bait/lures. Gently lob them out and retrieve it with light pauses.
             If you don't have a fly rod, a spinning rod with a small split shot or casting bubble works as well.</div>
        <a href="https://amzn.to/3R2Iso3" class="buybutton" target="_blank">See on Amazon</a>
    </div>
</div>
