<h3>For the trout:</h3>

<div class="gear">
<div class="gearimg">
<a href="https://amzn.to/3pAlDHK" target="_blank">
<img border="0" src="/assets/images/questionmark.svg">
</a>
</div>
<div>
    <h4>Panther Martin, 1/16 oz</h4>
    <div>A classic trout spinner. I like a retrieve with many erratic jerks with these spinners, to let the blade flutter as much as possible. Traditionally the gold blade with black body and yellow spots has been the most effective for me, but the other colors should also work.</div>
    <a href="https://amzn.to/3pAlDHK" class="buybutton" target="_blank">See on Amazon</a>
</div>
</div>

<div class="gear">
<div class="gearimg">
<a href="https://amzn.to/2YwFiwp" target="_blank">
<img border="0" src="/assets/images/questionmark.svg">
</a>
</div>
<div>
    <h4>Powerbait Micetails</h4>
    <div>A less messy version of Powerbait, which is basically a piece of soft plastic infused with the Powerbait flavoring. I prefer the micetails in moving water, as they have a more natural appearance and drift more naturally. </div>
    <a href="https://amzn.to/2YwFiwp" class="buybutton" target="_blank">See on Amazon</a>
</div>
</div>