@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #333;
    background-color: white;
    font-size: 14px;
}
h1, h2, h3 {
    font-weight: 600;
}
.invis {
    text-decoration: none;
    color: inherit;
    padding: 0px;
    margin: 0px;
}
.head {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    margin: 0px;
    background-color: white;
    /* color: white; */
    line-height: 60px;
    border-bottom: 1px #DDD solid;
}
.head h2 {
    padding: 0px;
    margin: 0px;
    float: left;
    font-weight: 500;
}
.head h2:hover {
    text-decoration: underline;
}
.head .right {
    padding: 0px;
    margin: 0px;
    float: right;
    font-weight: 500;
}
.head .right h3 {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin-right: 40px;
    display: inline;
}
.head .right h3:hover {
    text-decoration: underline;
}
.hwrapper {
    visibility: hidden;
    position: static;
}
.title {
    margin-top: 60px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    position: relative;
}
.fishoak {
    font-family: 'Lobster', cursive;
    font-weight: 500;
}
.title .crop {
    width: 100%;
    max-height: calc(100vh - 60px);
    overflow: hidden;
}
.title img {
    width: 100%;
    -webkit-filter: grayscale; 
    -webkit-filter: brightness(80%); 
}
.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0px;
    
    -webkit-filter: drop-shadow(2px 2px #333);
    filter: drop-shadow(2px 2px #333);
}
.content {
    margin: 50px auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
@media only screen and (min-width: 576px) {
    .content {
        width: 540px;
    }
}
@media only screen and (min-width: 768px) {
    .content {
        width: 720px;
    }
}
@media only screen and (min-width: 992px) {
    .content {
        width: 960px;
    }
}
@media only screen and (min-width: 1200px) {
    .content {
        width: 1140px;
    }
}
@media only screen and (min-width: 1400px) {
    .content {
        width: 1140px;
    }
}


.content>p>img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
table img{
    max-height: 300px;
    max-width: 100%;
}
.caption {
    text-align: center;
    color: black;
}
.column {
    float: left;
    margin: 0;
    width: 50%;
    text-align: center;
}
.tail {
    text-align: center;
    /*font-size: 12px;*/
    clear: both;
    margin-bottom: 10px;
}
.big {
    font-size: 24px;
}
code {
    display: inline-block;
    white-space : pre-wrap !important;
    background-color: #f8f8f8;
    padding: 30px;
}