.content {
    /* width: 70%; */
    margin-top: 0px;
}
.tn {
    position: relative;
    margin: 0px;
    padding: 0px;
    min-width: 300px;
    width: 33%;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
}
.tn a {
    display:block;
}
.tn img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-filter: grayscale; 
    -webkit-filter: brightness(80%); 
    object-fit: cover;
}
.tn h2 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    width: 100%;

    -webkit-filter: drop-shadow(1px 1px #333);
    filter: drop-shadow(1px 1px #333);
}

.card-header {
    max-width: 500px;
}

hr {
    color: #888;
}

.card-header > h1 {
    font-size: 40px;
}

/* .card-header > h2 {
    margin-top: 0;
} */
