.content {
    /* width: 70%; */
    margin-top: 0px;
}
.tags {
    /* text-align: center; */
}
.tn {
    position: relative;
    margin: 0px;
    padding: 0px;
    min-width: 300px;
    width: 33%;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
}
.tn a {
    display:block;
}
.tn img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-filter: grayscale; 
    -webkit-filter: brightness(80%); 
    object-fit: cover;
}
.tn h2 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    width: 100%;

    -webkit-filter: drop-shadow(1px 1px #333);
    filter: drop-shadow(1px 1px #333);
}

.card-header {
    /* max-width: 500px; */
    max-width: 80%;
}

hr {
    /* #color: #DDD; */
    box-sizing: border-box;
  border: 0 none transparent;
  border-top: 1px solid #CCC;
}

.card-header > h1 {
    font-size: 40px;
}

.spt {
    margin-top: 30px;
    /* font-size: 18px;*/
}

/* .card-header > h2 {
    margin-top: 0;
} */

/* table > thead > tr > td {
    font-weight: bold;
    background-color: #333;
    color: white;
}

table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

table {
    border-collapse: collapse; 
} */